.text-field-div {
  height: 66px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-left: 0.5px solid #EDEDED;
  border-top: 0.5px solid #EDEDED;
  &:last-of-type {
    border-bottom: 0.5px solid #EDEDED;
  }
  input {
    font-size: 16px;
    margin-left: 15px;
    max-width: 70%;
    background-color: transparent;
    border: 0px solid;
    outline: none;
    &::placeholder {
      color: #CCCCCC;
    }
  }
}
