$ipad: 769px;

.text-field-div {
  height: 66px;
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .text-field-input {
    flex: 2;
    input {
      width:  calc(100% - 20px);
      font-size: 16px;
      margin-left: 15px;
      background-color: transparent;
      border: 0px solid;
      outline: none;
      &::placeholder {
        color: #CCCCCC;
      }
    }
  }
}
